# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/todo-front/dist
/todo-front/tmp
/todo-front/out-tsc
# Only exists if Bazel was run
/todo-front//bazel-out

# dependencies
/todo-front/node_modules
/todo-back/node_modules


# profiling files
chrome-profiler-events*.json

# IDEs and editors
/todo-front/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/todo-front/.angular/cache
/todo-front/.sass-cache
/connect.lock
/todo-front/coverage
/todo-front/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/todo-front/typings

# System Files
.DS_Store
Thumbs.db
